@model PTemp_Lemus.Models.ReclamoConsumidor

@{
    ViewBag.Title = "Create";
}

<head>
    <link href="~/Content/css/pagination.css" rel="stylesheet" type="text/css" />
</head>
<h2>Nuevo Reclamo</h2>

<fieldset class="margen">
    <h4>Reclamo</h4>
    <hr />
    <div class="crea">
        <div class="container d-flex justify-content-center align-items-center">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h5>Datos Generales del Reclamo</h5>

                <div class="elemento">
                    <div class="columna">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Proveedor</label>
                            </div>
                            <div class="col">
                                <input type="text" name="Reclamo.nombreProveedor" class="form-control" value="@Model.Reclamo.nombreProveedor" />
                                @Html.ValidationMessageFor(model => model.Reclamo.nombreProveedor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="elemento">
                    <div class="columna">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Dirección</label>
                            </div>
                            <div class="col">
                                <input type="text" name="Reclamo.direccionProveedor" class="form-control" value="@Model.Reclamo.direccionProveedor" />
                                @Html.ValidationMessageFor(model => model.Reclamo.direccionProveedor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="elemento">
                    <div class="columna">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Detalle del Reclamo</label>
                            </div>
                            <div class="col">
                                <input type="text" name="Reclamo.detalleReclamo" class="form-control" value="@Model.Reclamo.detalleReclamo" />
                                @Html.ValidationMessageFor(model => model.Reclamo.detalleReclamo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="elemento">
                    <div class="columna">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Teléfono</label>
                            </div>
                            <div class="col">
                                <input type="text" name="Reclamo.telefonoProveedor" class="form-control" value="@Model.Reclamo.telefonoProveedor" />
                                @Html.ValidationMessageFor(model => model.Reclamo.telefonoProveedor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="elemento">
                    <div class="columna">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Monto Reclamado</label>
                            </div>
                            <div class="col">
                                <input type="text" name="Reclamo.montoReclamo" class="form-control" value="@Model.Reclamo.montoReclamo" />
                                @Html.ValidationMessageFor(model => model.Reclamo.montoReclamo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="elemento">
                        <div class="columna">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="fechaI">ID Empleado</label>
                                </div>
                                <div class="col">
                                    <input type="text" name="Reclamo.idEmpleado" class="form-control" value="@Model.Reclamo.idEmpleado" />
                                    @Html.ValidationMessageFor(model => model.Reclamo.idEmpleado, "", new { @class = "text-danger fechaI" })
                                </div>
                            </div>
                        </div>
                    </div>*@

                    @*<div class="elemento">
                        <div class="columna">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="fechaI">ID Consumidor</label>
                                </div>
                                <div class="col">
                                    <input type="text" name="Reclamo.idConsumidor" class="form-control" value="@Model.Reclamo.idConsumidor" />
                                    @Html.ValidationMessageFor(model => model.Reclamo.idConsumidor, "", new { @class = "text-danger fechaI" })
                                </div>
                            </div>
                        </div>
                    </div>*@

                <hr />
                <h5>Datos del Consumidor</h5>

                <div class="elemento">
                    <div class="columna">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Nombres</label>
                            </div>
                            <div class="col">
                                <input type="text" name="Consumidor.nombreConsumidor" class="form-control" value="@Model.Consumidor.nombreConsumidor" />
                                @Html.ValidationMessageFor(model => model.Consumidor.nombreConsumidor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="elemento">
                    <div class="columna">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Apellidos</label>
                            </div>
                            <div class="col">
                                <input type="text" name="Consumidor.apellidoConsumidor" class="form-control" value="@Model.Consumidor.apellidoConsumidor" />
                                @Html.ValidationMessageFor(model => model.Consumidor.apellidoConsumidor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="elemento">
                    <div class="columna">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Correo Electrónico</label>
                            </div>
                            <div class="col">
                                <input type="email" name="Consumidor.correoElectronico" class="form-control" value="@Model.Consumidor.correoElectronico" />
                                @Html.ValidationMessageFor(model => model.Consumidor.correoElectronico, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="elemento">
                    <div class="columna">
                        <div class="row">
                            <div class="col-md-2">
                                <label>DUI</label>
                            </div>
                            <div class="col">
                                <input type="text" name="Consumidor.duiConsumidor" class="form-control" value="@Model.Consumidor.duiConsumidor" />
                                @Html.ValidationMessageFor(model => model.Consumidor.duiConsumidor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="elemento">
                    <div class="columna">
                        <input type="submit" value="Guardar" class="btn btn-primary boton" />
                    </div>
                </div>
            }
        </div>
    </div>
</fieldset>
<br />
<div>
    @Html.ActionLink("Back to List", "Index", "Reclamo", null, new { @class = "btn btn-secondary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}