@model PTemp_Lemus.Models.ReclamoModel

@{
    ViewBag.Title = "Edit";
}
<head>
    <link href="~/Content/css/pagination.css" rel="stylesheet" type="text/css" />
</head>
<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal caja">
    <h4>ReclamoModel</h4>
    <hr />
    <h5>Datos Generales del Reclamo</h5>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idReclamo)

    <div class="form-group">
        @Html.LabelFor(model => model.nombreProveedor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombreProveedor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombreProveedor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.direccionProveedor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.direccionProveedor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.direccionProveedor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.detalleReclamo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.detalleReclamo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.detalleReclamo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.telefonoProveedor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.telefonoProveedor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.telefonoProveedor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.montoReclamo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.montoReclamo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.montoReclamo, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <h5>Datos del Consumidor</h5>
    <div class="form-group">
        @Html.LabelFor(model => model.idEmpleado, htmlAttributes: new { @class = "control-label col-md-2 fechaI" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.idEmpleado, new { htmlAttributes = new { @class = "form-control fechaI" } })
            @Html.ValidationMessageFor(model => model.idEmpleado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idConsumidor, htmlAttributes: new { @class = "control-label col-md-2 fechaI" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.idConsumidor, new { htmlAttributes = new { @class = "form-control fechaI" } })
            @Html.ValidationMessageFor(model => model.idConsumidor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idEstado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(
                model => model.idEstado,
                (SelectList)ViewBag.Estados, // Lista de estados desde ViewBag
                "--Seleccione un Estado--",
                new { @class = "form-control" }
            )
            @Html.ValidationMessageFor(model => model.idEstado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.activo, htmlAttributes: new { @class = "control-label col-md-2 fechaI" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.activo, new { htmlAttributes = new { @class = "form-control fechaI" } })
                @Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger fechaI" })
            </div>
        </div>
    </div>

    <div class="padre">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Clasificar" class="btn btn-primary boton" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
