@model IPagedList<PTemp_Lemus.Models.ReclamoModel>
@using PagedList
@using PagedList.Mvc


@{
    ViewBag.Title = "Index";
}
<head>
    <link href="~/Content/css/pagination.css" rel="stylesheet" type="text/css" />
</head>
<div class="nuevo">
    <h2>Reclamos</h2>
    <hr />
    <p>
        @Html.ActionLink("Nuevo Reclamo", "Create", "Reclamo", null, new { @class = "btn btn-primary" })
    </p>
</div>
<div class="tab">
    <fieldset>
        <legend>Reclamo</legend>
        <table>
            <thead>
                <tr>
                    <th>
                        N°Reclamo
                    </th>
                    <th>
                        Proveedor
                    </th>
                    <th>
                        Consumidor
                    </th>
                    <th>
                        Detalle
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Activo
                    </th>
                    <th>
                        Accion
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.idReclamo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombreProveedor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idConsumidor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.detalleReclamo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombreEstado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.activo)
                        </td>
                        <td>
                            @Html.ActionLink("Clasificar", "Edit", new { id = item.idReclamo }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Ver Detalles", "Details", new { id = item.idReclamo }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.idReclamo }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @* Paginación *@
        <div class="pagination">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </fieldset>
</div>
